<!DOCTYPE html>
<html>
  <head>
    <title>Dobrodosli</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <p>Dobrodosli <%= username %>
      <a href="/todo">TODO</a>
  </body>
</html>
